@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:gothic;
    src:url('./fonts/DidactGothic-Regular.ttf');
}
@font-face {
    font-family:gothic1;
    src:url('./fonts/Century Gothic.ttf');
}
@font-face {
    font-family:franklin;
    src:url('./fonts/Franklin Gothic Book Regular.ttf');
}
@font-face {
    font-family:questrial;
    src:url('./fonts/Questrial-Regular.ttf');
}